/* Asegura que el contenedor respete el tamaño del menú */
.background-container {
    position: relative;
    width: 100vw;
    height: calc(100vh - 56px); /* Ajusta el espacio restante debajo del menú */
    margin-top: 56px; /* Altura estimada del menú, ajústalo según sea necesario */
    overflow: hidden;
    background-color: #e0e0e0;
  }
  
  /* Imagen de fondo */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  
  /* Contenido superpuesto */
.content-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Contenedor para el contenido superpuesto */
  .content-overlay {
    position: absolute;
    bottom: 20px; // Ajusta la distancia desde el borde inferior
    left: 50%;
    transform: translateX(-50%);
    width: 90%; // Ajusta el ancho según necesites
    text-align: center; // Centra el botón horizontalmente
  }
  
  /* Estilo personalizado para el botón */
.custom-button {
    width: 100px; /* Ajusta el ancho del botón */
    height: 5%; /* Ajusta la altura del botón */
    font-size: 12px; /* Tamaño del texto */
    background-color: #f0f0f0; /* Color de fondo */
    color: #f0f0f0; /* Color del texto */
    border-radius: 100%; /* Bordes redondeados */
  }
  
.custom-button:hover {
    background-color: #e4e4e4; /* Cambio de color al pasar el ratón */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
  }

  /*-------------------------------------------------------------------------------*/
  
  /* Contenido superpuesto */
.content-overlay1 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Contenedor para el contenido superpuesto */
.content-overlay1 {
    position: absolute;
    top: 5%; /* Centrado verticalmente, ajusta este valor para moverlo hacia arriba o abajo */
    left: 80%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para centrar el contenido completamente */
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilo personalizado para el botón */
.custom-button1 {
    width: 100px; /* Ajusta el ancho del botón */
    height: 5%; /* Ajusta la altura del botón */
    font-size: 12px; /* Tamaño del texto */
    background-color: #e0e0e0; /* Color de fondo */
    color: #f0f0f0; /* Color del texto */
    border-radius: 100%; /* Bordes redondeados */
  }
  
.custom-button1:hover {
    background-color: #e4e4e4; /* Cambio de color al pasar el ratón */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
  }

/*-------------------------------------------------------------------------------*/
  

/* Contenido superpuesto */
.content-overlay2 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Contenedor para el contenido superpuesto */
.content-overlay2 {
    position: absolute;
    top: 5%; /* Centrado verticalmente, ajusta este valor para moverlo hacia arriba o abajo */
    left: 20%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para centrar el contenido completamente */
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilo personalizado para el botón */
.custom-button2 {
    width: 100px; /* Ajusta el ancho del botón */
    height: 5%; /* Ajusta la altura del botón */
    font-size: 12px; /* Tamaño del texto */
    background-color: #e2e2e2; /* Color de fondo */
    color: #f0f0f0; /* Color del texto */
    border-radius: 100%; /* Bordes redondeados */
  }
  
.custom-button2:hover {
    background-color: #e4e4e4; /* Cambio de color al pasar el ratón */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
  }

/*-------------------------------------------------------------------------------*/

.custom-location-icon {
    position: absolute; /* Cambié a absolute para un control más preciso */
    top: 80%; /* Centrado verticalmente */
    left: 60%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el ícono al centro de su contenedor */
    font-size: 40px; /* Tamaño más grande del ícono */
    color: #da0c05; /* Color del ícono */
    z-index: 3; /* Asegura que esté encima de otros elementos */
}

/*-------------------------------------------------------------------------------*/

.custom-location-icon1 {
    position: absolute; /* Cambié a absolute para un control más preciso */
    top: 70%; /* Centrado verticalmente */
    left: 40%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el ícono al centro de su contenedor */
    font-size: 40px; /* Tamaño más grande del ícono */
    color: #ffe600; /* Color del ícono */
    z-index: 3; /* Asegura que esté encima de otros elementos */
}

/*-------------------------------------------------------------------------------*/

.custom-location-icon2 {
    position: absolute; /* Cambié a absolute para un control más preciso */
    top: 20%; /* Centrado verticalmente */
    left: 20%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el ícono al centro de su contenedor */
    font-size: 40px; /* Tamaño más grande del ícono */
    color: #ffe600; /* Color del ícono */
    z-index: 3; /* Asegura que esté encima de otros elementos */
}

/*-------------------------------------------------------------------------------*/

.custom-location-icon3 {
    position: absolute; /* Cambié a absolute para un control más preciso */
    top: 80%; /* Centrado verticalmente */
    left: 60%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el ícono al centro de su contenedor */
    font-size: 40px; /* Tamaño más grande del ícono */
    color: #da0c05; /* Color del ícono */
    z-index: 3; /* Asegura que esté encima de otros elementos */
}

/*-------------------------------------------------------------------------------*/

.custom-location-icon4 {
    position: absolute; /* Cambié a absolute para un control más preciso */
    top: 30%; /* Centrado verticalmente */
    left: 20%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el ícono al centro de su contenedor */
    font-size: 40px; /* Tamaño más grande del ícono */
    color: #ffe600; /* Color del ícono */
    z-index: 3; /* Asegura que esté encima de otros elementos */
}

#map {
  height: 100%;
  width: 100%;
}

button {
  padding: 15px 30px;
  font-weight: bold;
  color: #fff;
  background: #ff6f61;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(255, 111, 97, 0.3);
  transition: all 0.3s ease;
}

button:hover {
  background: #ff3e2e;
  box-shadow: 0 8px 20px rgba(255, 62, 46, 0.4);
  transform: scale(1.05);
}

button:active {
  transform: scale(1);
  background: #e83525;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}