<ion-header>
  <ion-toolbar>
    <ion-title>Compra Express</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-page">
  <!-- Logo -->


  <!-- Título -->
  <ion-title class="page-title">Iniciar Sesión</ion-title>

  <!-- Formulario de Login -->
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <!-- Campo de Correo -->
    <ion-item class="input-item" lines="none">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
      Ingresa un correo válido
    </div>

    <!-- Campo de Contraseña -->
    <ion-item class="input-item" lines="none">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      La contraseña es obligatoria
    </div>
   
  </form>

  <!-- Enlaces de Registro y Recuperar Contraseña -->
   <ion-button expand="block" color="primary" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</ion-button> 
  
   <ion-label>¿No tienes una cuenta?</ion-label>
    <ion-button routerLink="/register" type="submit" expand="block">Crear cuenta</ion-button>

  <ion-label>¿Olvidaste tu contraseña?</ion-label>
  <ion-button routerLink="/recover-password" type="submit" expand="block">Recuperar</ion-button>
</ion-content>