<ion-header>
  <ion-toolbar>
    <ion-title>Compra Expres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>Recuperar Contraseña</ion-title>
  <form>
    <ion-label>Ingrese su correo electrónico para restablecer su contraseña.</ion-label>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" name="email" required></ion-input>
    </ion-item>
  </form>
  <ion-button type="submit" expand="block">Recuperar Contraseña</ion-button>
  <ion-button routerLink="/login" expand="block">Cancelar</ion-button>
</ion-content>






