ion-card {
  width: 330px; /* Ancho específico de la tarjeta */
  height: auto; /* Deja que la tarjeta se ajuste al contenido */
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px; /* Espaciado interno */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}

ion-card {
  width: 330px; /* Ancho específico de la tarjeta */
  height: auto; /* Deja que la tarjeta se ajuste al contenido */
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px; /* Espaciado interno */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  border: 1px solid #cccccc; /* Borde gris */
}
