<ion-content>
  <app-header></app-header>
  <div><img src="/assets/logo-login3.png" class="background-image"></div>
  <!-- Lista de Usuarios -->
   <br>
   <br>
   <br>
  <ion-list>
    <!-- Recorremos las citas -->
    <ion-item *ngFor="let cita of citas">
      <ion-label>
        <h2>{{ cita.Local }}</h2>
        <p><strong>Dirección:</strong> {{ cita.Direccion }}</p>
        <p><strong>Comentario:</strong> {{ cita.Comentario }}</p>
        <p><strong>Estrellas:</strong> {{ cita.estrella }}</p>
      </ion-label>

      <ion-button color="success" (click)="aceptarCita(cita)">Aceptar</ion-button>
      <ion-button color="danger" (click)="rechazarCita(cita)">Rechazar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
