<ion-menu contentId="main-content" side="start" class="custom-menu">
  <ion-header>
    <ion-toolbar>
      <div>
        <img src="/assets/logo-login3.png" class="background-image">
      </div>
      <ion-title>MENU</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  <div>
    <img src="/assets/logo-login3.png" class="background-image">
  </div>
    <div class="menu-option">
      <ion-button routerLink="/profile" expand="block" class="menu-button">Perfil</ion-button>
    </div>
    <div class="menu-option">
      <ion-button routerLink="/chat" expand="block" class="menu-button">Comentarios</ion-button>
    </div>
    <div class="menu-option">
      <ion-button routerLink="/select-profile" expand="block" class="menu-button">Cambiar a “Gestión de Locales”</ion-button>
    </div>
    <div class="menu-option">
      <ion-button routerLink="/search-local" expand="block" class="menu-button">Buscar Local o Comidas</ion-button>
    </div>
    <div class="menu-option">
      <ion-button routerLink="/login" expand="block" class="menu-button close">Cerrar Sesión</ion-button>
    </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <div>
        <img src="/assets/logo-login3.png" class="background-image">
      </div>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Inicio</ion-title>
      <ion-icon routerLink="/search-local" slot="end" name="search"></ion-icon>
    </ion-toolbar>
  </ion-header>
</div>
