/* Menú */
ion-menu {
  --background: #f7f7f7; /* Fondo blanco */
}

/* Encabezado del menú */
ion-header {
  --background: #ffffff;
  text-align: center;
  font-weight: bold;
}

/* Título del menú */
ion-title {
  font-size: 18px;
  font-weight: bold;
  color: rgb(245, 245, 245);
  text-align: center;
  margin: 0;
}

/* Botones del menú */
.menu-button {
  --background: #ffffff; /* Fondo blanco */
  --color: black; /* Texto negro */
  --border-radius: 0; /* Sin bordes redondeados */
  border: 1px solid #ffffff; /* Borde gris claro entre los botones */
  font-size: 16px;
  height: 60px; /* Altura uniforme */
  text-transform: none; /* Mantener el texto como está */
  justify-content: start; /* Alinear texto al inicio */
  padding-left: 16px; /* Espaciado izquierdo */
}

/* Botón de cerrar sesión */
.menu-button.close {
  --color: red; /* Texto rojo */
  font-weight: bold; /* Texto en negrita */
}

/* Ajustar el contenido del menú */
ion-content {
  display: flex;
  flex-direction: column;
  padding: 0;
  --background: #e4e4e4;
}

/* Contenedor de cada opción */
.menu-option {
  width: 100%; /* Ocupa todo el ancho del menú */
}

.background-image {
  /* Posiciona la imagen en la parte superior izquierda */
  position: absolute; 
  top: 0;
  left: 0;
  /* Define el ancho y alto de la imagen */
  width: 100%; 
  height: 100%; 
  /* Define la ruta de la imagen */
  background-image: url('/assets/logo-login3.jpg'); 
  /* Hace que la imagen cubra todo el contenedor */
  background-size: cover; 
  /* Centra la imagen en el contenedor */
  background-position: center; 
  /* Ubica la imagen detrás de otros elementos */
  z-index: -2; 
}