<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-button routerLink="/profile" expand="block">Perfil</ion-button>
    <ion-button routerLink="/chat" expand="block">Comentarios</ion-button>
    <ion-button routerLink="/select-profile" expand="block">Cambiar a "Gestion de local/es"</ion-button>
    <ion-button routerLink="/search-local" expand="block">Buscar Local</ion-button>
    <ion-button class="close" routerLink="/login" expand="block">Cerrar Sesion</ion-button>
  </ion-content>
</ion-menu>



<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Inicio</ion-title>
      <ion-icon routerLink="/search-local" slot="end" name="search"></ion-icon>
    </ion-toolbar>
  </ion-header>
</div>



