ion-toolbar {
    --background: #2ecc71;
    --color: #fff;
}

ion-title {
    text-align: center;
    
}




/* Estilo para el ion-menu */
ion-menu {
    --background: white; /* Color de fondo blanco */

}

/* Ajustar el contenido del menú */
ion-content {
    padding-top: 0; /* Elimina el padding superior para que el contenido esté pegado al menú */
}

/* Ajustar el ion-header del menú */
ion-header {
    --background: white; /* Fondo blanco en el encabezado */
    --border-bottom: 1px solid #ccc; /* Línea de separación entre el encabezado y el contenido */
}

/* Ajuste para el botón del menú */
ion-menu-button {
    color: #ffffff; /* Color azul para el botón del menú */
}

.custom-menu {
    --border-radius: 20px; /* Curvatura de las esquinas */
    --width: 250px; /* Ancho del menú */
    --background: #f4f4f4; /* Fondo del menú */
    --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
  }
  
  ion-content {
    padding-top: 20px; /* Espacio superior para que no queden pegados los botones */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Distribuye los botones uniformemente */
    height: 100%;
  }
  
  .menu-button {
    margin-bottom: 10px; /* Espaciado entre los botones */
    --background: #3880ff; /* Color de fondo de los botones */
    --color: white; /* Color del texto */
    --border-radius: 10px; /* Bordes redondeados para los botones */
  }
  
  .close {
    --background: #f53d3d; /* Color rojo para el botón de cerrar sesión */
    --color: white; /* Color del texto */
  }
  


