<app-header></app-header>
<ion-content>
  <div><img src="/assets/logo-login3.png" class="background-image"></div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tarjeta 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Este es el contenido de la primera tarjeta. Es simple pero funcional.
    </ion-card-content>
    <ion-button expand="block" color="primary">Más información</ion-button>
  </ion-card>
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tarjeta 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Esta tarjeta contiene otro texto descriptivo interesante.
    </ion-card-content>
    <ion-button expand="block" color="secondary">Leer más</ion-button>
  </ion-card>
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tarjeta 3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La última tarjeta de este ejemplo incluye un botón totalmente funcional.
    </ion-card-content>
    <ion-button expand="block" color="tertiary">Descubrir más</ion-button>
  </ion-card>
</ion-content>
