.profile-page {
  padding: 20px;
}

.title-container {
  text-align: center;
  margin-bottom: 20px;
}

.app-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

ion-avatar {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.change-avatar-btn {
  margin-top: 10px;
  border-radius: 20px;
}

.input-item {
  margin-bottom: 15px;
}

ion-item {
  --highlight-height: 2px;
}

ion-button {
  margin-top: 20px;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

ion-input {
  --padding-start: 10px;
  --padding-end: 10px;
}

ion-label {
  font-size: 1rem;
  color: #555;
}

ion-toolbar {
  background-color: #f0f0f0;
}

.background-image {
  /* Posiciona la imagen en la parte superior izquierda */
  position: absolute; 
  top: 0;
  left: 0;
  /* Define el ancho y alto de la imagen */
  width: 100%; 
  height: 100%; 
  /* Define la ruta de la imagen */
  background-image: url('/assets/logo-login3.jpg'); 
  /* Hace que la imagen cubra todo el contenedor */
  background-size: cover; 
  /* Centra la imagen en el contenedor */
  background-position: center; 
  /* Ubica la imagen detrás de otros elementos */
  z-index: -2; 
}