
.title-app{
    text-align: center;
}

.app-title{
    text-align: center;
}

.avatar {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
    height: 10vh;          /* Altura completa de la pantalla */
  }
  