<ion-content class="login-page">
    <!-- Logo -->
    <div class="logo-container">
      <img src="assets/logo.jpg">
    </div>
      <!-- Título -->
      <div class="title-container">
        <h1 class="app-title">Compra Expres</h1>
      </div>
  
    <!-- Formulario de Login -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <!-- Campo de Correo -->
      <ion-item class="input-item" lines="none">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        Ingresa un correo válido
      </div>
  
      <!-- Campo de Contraseña -->
      <ion-item class="input-item" lines="none">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched">
        La contraseña es obligatoria
      </div>
  
      <div class="error-message" *ngIf="loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.touched">
        La contraseña debe tener al menos 9 caracteres.
      </div>
      
      <div class="error-message" *ngIf="loginForm.get('password')?.errors?.['maxlength'] && loginForm.get('password')?.touched">
        La contraseña no puede exceder los 20 caracteres.
      </div>
      
      <div class="error-message" *ngIf="loginForm.get('password')?.errors?.['pattern'] && loginForm.get('password')?.touched">
        La contraseña debe contener al menos una letra mayúscula, una letra minúscula, un número y un carácter especial.
      </div>
     
    </form>
  
    <!-- Enlaces de Registro y Recuperar Contraseña -->
     <ion-button routerLink="/inicio" expand="block" color="primary" type="submit"  [disabled]="loginForm.invalid">Iniciar Sesión</ion-button> 
    
    
     <ion-label>¿No tienes una cuenta?</ion-label>
      <ion-button routerLink="/register" type="submit" expand="block">Crear cuenta</ion-button>
  
    <ion-label>¿Olvidaste tu contraseña?</ion-label>
    <ion-button routerLink="/recover-password" type="submit" expand="block">Recuperar</ion-button>
  </ion-content>