ion-searchbar {
    --background: #f0f0f0; /* Color de fondo */
    --color: #333;         /* Color del texto */
    --placeholder-color: #888; /* Color del placeholder */
    --icon-color: #ff5722; /* Color del ícono */
  }